<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <head>
    <link rel="icon" href="{{ site.favicon }}" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div id="header">
      <nav>
        <ul class="social-bar">
          <li>
            <a href="https://www.linkedin.com/in/thanic-samin-bb4830150/" target="_blank">
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
          </li>
          <li>
            <a href="https://www.github.com/thanicsamin/" target="_blank">
              <i class="fab fa-github"></i> GitHub
            </a>
          </li>
        </ul>
      </nav>
       <!-- Add site navigation links here -->
    </div><!-- end header -->
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
              <ul class="site-nav">
                <li><a href="/">About Me</a></li>
                <li><a href="/lecture-notes/">Lecture Notes</a></li>
                <li><a href="/programming/">Programming</a></li>
                <li><a href="/awards/">Awards</a></li>
                <li><a href="/contact/">Contact</a></li>
              </ul>

        </div>

        {{ content }}

      </section>
    </div>
  </body>
</html>
